.button-container {
  color:gray;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.download_button {
  background: gray;
  font-size: 25px;
  padding: 5px;
  border: 2px solid darkgray;
  border-radius: 10px;
  color: white; 
}

.download_button:hover {
  background: lightgray;
}

.cv-container {
  margin-bottom: 100px;
}

.section-title {
  text-align: center;
  color: white;
}

.education {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.role {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.cv-p {
  color: white;
  text-indent: 20px;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.job-list {
  color: white;
  font-size: 20px;
}

.skills-container {
    display: flex;
    flex-flow: row wrap;
}

.column {
    flex: 30%;
}