* {box-sizing: border-box}
.carousel-container {
  margin:0;
  z-index: 0;
}

.mySlides, .p1mySlides, .p2mySlides, .p3mySlides, .p4mySlides, .p5mySlides, .p6ySlides {
  display: none;
  z-index: 0;
}

img {
  vertical-align: middle;
  border-radius: 5px;
  z-index: 0;
}

.slideshow-container {
  position: relative;
  margin: auto;
  text-align: center;
  z-index: 0;
}

.prev, .next {
  z-index: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 10px;
  margin-top: -40px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 5%;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 5%;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot, .p1dot, .p2dot, .p3dot, .p4dot, .p5dot, .p6dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px; 
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover, .p1dot:hover, .p2dot:hover, .p3dot:hover, .p4dot:hover, .p5dot:hover, .p6dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}