html {
    scroll-behavior: smooth;
}

.project-container {
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    margin-bottom: 40px;
}

.column1 {
    flex: 30%;
    text-align: center;
    background-color: gray;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.column2 {
    flex: 20%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    text-align: center;
    background-color: gray;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.column3 {
    flex: 20%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    text-align: center;
    background-color: gray;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}


.project-bg {
    text-align: center;
    background-color: gray;
    border-color: 2px solid black;
    border-radius: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.project-img {
    border: 2px solid white;
    border-radius: 15px;
    background-color: white;
    width: 100%;
}

.project-name {
    margin-top: 10px;
    font-size: 30px;
    color: white;
    text-align: center"
}

.project-desc {
    font-size: 20px;
    color: white;
    text-align: left;
    text-indent: 20px;
}

.features {
    font-size: 20px;
    color: white;
    text-align: left; 
}

.project-langs {
    font-size: 20px;
    color: white;
}